{% extends "base.html" %}

{% block content %}


{% for task in all_tasks %}
    <div class="task">
    <div class="content">
        {{task.user.first_name}}
        {{task.user.last_name}}
        <div class="description">
        {{task.description}}
        <span class="duration">{{task.duration}} mins</span>
        </div>
        <div class ='buttons'>
            
            
            {% if task.completed == True %}
                <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
            {% else %}
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            {% endif %}

            <form class="delete-form" action="/tasks/{{task.id}}/delete" method="POST"> <!-- NEW -->
                <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button> <!-- NEW -->
            </form> <!-- NEW -->
        </div>
        <a href='/tasks/{{task.id}}'>{{task.description}}</a>
    </div>
    </div>
{% endfor %}

{% endblock %}